
body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
}

.box {
   background: red;
   height: 50px;
   width: 50px;
   
}

#grid {
   display: grid;
   width: 300px;
   height: 300px;
   border: 2px solid black;
}
